/* General Section */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus{
  outline: none;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #555;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.grid {
  display: grid;
  gap: 9.6rem;
}

.grid--2--cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3--cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4--cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--5--cols {
  grid-template-columns: repeat(5, 1fr);
}

.grid--center--v {
  align-items: center;
}

strong {
  font-weight: 500;
}

/* Header Components */
.heading-primary,
.heading-secondary,
.heading-tertionary {
  color: #333;
  letter-spacing: -0.5px;
  font-weight: 700;
}

.heading-tertionary {
  font-size: 3rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.sub-heading {
  color: #e67e22;
  font-size: 1.6rem;
  font-weight: 500;
  display: block;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

/* Button Components */
.btn, .btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 1.6rem 3.2rem;
  font-size: 2rem;
  border-radius: 9px;
  transition: all 0.3s;
  font-weight: 600;
}

.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
  color: #fff;
  font-weight: 700;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}

.btn-right-sm {
  margin-right: 1.6rem !important;
}

.btn--full:hover,
.btn--full:active {
  background-color: #b8651b;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;
  box-shadow: inset 0 0 0 3px #fff;
}

.btn-form {
  background-color: #2e1902;
  border-radius: 9px;
  align-self: end;
  cursor: pointer;
  font-family: inherit;
  align-self: end;
  transition: all 0.3s;
  border: none;
}

.btn-form:hover {
  background-color: #fdf2e9;
  color: #0f5102;
}
/* Tag Components */
.tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}
.tag {
  display: inline-block;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0.4rem 0.8rem;
  border-radius: 100px;
  color: #eee;
}

.margin--bottom-md {
  margin-bottom: 4.8rem !important;
}

.link:link,
.link:visited {
  text-decoration: none;
  color: #e67e22;
  text-align: center;
  display: inline-block;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
}

.link:hover,
.link:active{
  color: #cf711f;
  border-bottom: 1px solid transparent;
}

.center-text {
  text-align: center;
}

/* list Component */
.list {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}
.list-item {
  font-size: 1.8rem;
  color: #555;
  list-style-type: none;

  display: flex;
  align-items: center;
  gap: 1.8rem;
}

.list-icon {
  color: #b8651b;
  width: 2.4rem;
  height: 2.4rem;
}
